# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

RE_TikTokDownload.py
TikTokPyPi
upx.exe

GUI.py
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
dev_venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#filter
/Download/
readconf.py
.vscode
/Util/algorithm/node_modules/
1.py
test.py
ttd-venv/lib64
ttd-venv/pyvenv.cfg
ttd-venv/bin/activate
ttd-venv/bin/activate.csh
ttd-venv/bin/activate.fish
ttd-venv/bin/Activate.ps1
ttd-venv/bin/f2py
ttd-venv/bin/flask
ttd-venv/bin/fonttools
ttd-venv/bin/gradio
ttd-venv/bin/httpx
ttd-venv/bin/huggingface-cli
ttd-venv/bin/jsonschema
ttd-venv/bin/markdown-it
ttd-venv/bin/normalizer
ttd-venv/bin/pip
ttd-venv/bin/pip3
ttd-venv/bin/pip3.11
ttd-venv/bin/prichunkpng
ttd-venv/bin/pricolpng
ttd-venv/bin/priditherpng
ttd-venv/bin/priforgepng
ttd-venv/bin/prigreypng
ttd-venv/bin/pripalpng
ttd-venv/bin/pripamtopng
ttd-venv/bin/priplan9topng
ttd-venv/bin/pripnglsch
ttd-venv/bin/pripngtopam
ttd-venv/bin/prirowpng
ttd-venv/bin/priweavepng
ttd-venv/bin/pyftmerge
ttd-venv/bin/pyftsubset
ttd-venv/bin/pygmentize
ttd-venv/bin/python
ttd-venv/bin/python3
ttd-venv/bin/python3.11
ttd-venv/bin/qr
ttd-venv/bin/tqdm
ttd-venv/bin/ttx
ttd-venv/bin/upload_theme
ttd-venv/bin/uvicorn
ttd-venv/share/man/man1/qr.1
ttd-venv/share/man/man1/ttx.1
nickname_mapping.db
conf.ini
conf.ini
